<div class="container" style="margin: 30px;"> 
    <form (ngSubmit)="onSubmit()" >
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripcion producto</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion"
            [(ngModel)]="producto.descripcion">
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="precio" name="precio"
            [(ngModel)]="producto.precio">
        </div>
        <div class="mb-3">
            <label for="existencias" class="form-label">Existencias</label>
            <input type="number" class="form-control" id="existencias" name="existencias"
            [(ngModel)]="producto.existencia">
        </div>
        
        <div class="container text-center">
            <button type="submit" class="btn btn-primary btn-sm me-3">Agregar</button>
            <a href="/" class="btn btn-warning btn-sm me-3">Volver</a>
        </div>
    </form>
</div>